{% extends "templates/base.html" %}
{% block content %}
<div class="in" style="color:brown;">

            <h2>Reach me @!</h2>
            <ul>
              <li><a href="#">vishgite@</a></li>
              <li><a href="#">vishgite</a></li>
              <li><a href="#">vish.gite</a></li>
              <li><a href="#">vishy1689</a></li>
            </ul>
<p>
            <!-- START SOCIAL MEDIA WIDGET --><ul id="socialbar"><li id="facebook"><a target="_blank" href="http://www.facebook.com/vish.gite"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/facebook.png"></a></li><li id="Googleplus"><a target="_blank" href="https://plus.google.com/+/VishGite"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/Googleplus.png"></a></li><li id="linkedin"><a target="_blank" href="http://www.linkedin.com/username"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/linkedin.png"></a></li></ul><!-- END SOCIAL MEDIA WIDGET -->
          </p>
</div>
{% endblock %}