<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="author" lang="en" content="..." />
    <meta name="copyright" lang="en" content="..." />
    <meta name="description" content="..." />
    <meta name="keywords" content="..." />
    <meta name="robots" content="all,follow" />
    <link href="static/css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!--[if lte IE 6]>
    <link href="css/msie.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <![endif]-->
    <link rel="stylesheet" media="print" type="text/css" href="static/css/print.css" />
    <script type="text/javascript" src="static/js/main.js"></script>
    <title>Vishy &ndash; moody,angry</title>
  </head>
  <body>
  <div id="bckground">
    <div id="layout">

      <div id="header">

        <h1 id="logo"><a href="./" title="Company">eat<span class="light">Cupcakes</span><span class="leaf">&nbsp;</span></a></h1>
        <hr class="noscreen" />

        <p class="noscreen noprint">
          <em>Skip to <a href="#obsah">content</a>, <a href="#nav">navigation</a>.</em>
        </p>

      <hr class="noscreen" />

      <div id="nav" class="box">
        <ul>
          <li><a href="/">Home<br /><span>Main page</span></a></li>
          <li><a href="/">Who<br /><span>Our team</span></a></li>
          <li><a href="/">What<br /><span>Our services</span></a></li>
					<li><a href="/">Portfolio<br /><span>Our woks</span></a></li>
					<li><a href="/">Prices<br /><span>How much it costs</span></a></li>
					<li><a href="/">Contact<br /><span>Write us!</span></a></li>
				</ul>
        <hr class="noscreen" />
      </div>

      <div id="container" class="box">

        <div id="obsah" class="content box">
          {% block content %}{% endblock %}
        </div>

        <div id="panel-left" class="box panel">
          <div class="in">

          <p>
            <span>03/07/2008</span><br />
            Duis aute irure dolor in repreh in voluptate velit esse cill dolore
            eu.
          </p>

          <p>
            <span>03/07/2008</span><br />
            Duis aute irure dolor in repreh in voluptate velit esse cill dolore
            eu.
          </p>

          </div>
        </div>

      </div>

        <div id="footer">
          <span class="f-left">&copy; 2008 <a href="/">Your name</a></span> <span class="f-right">Design: <a href="http://www.davidkohout.cz">David Kohout</a> | Our tip <a href="http://www.efektim.com" title="Efektim - Real Estate Consulting">Efektim Real Estate</a></span>
        </div>
      </div>
    </div>
  </div> <!-- background -->
  </body>
</html>
